body{
	text-align: center;
	font-family: 'Cinzel', serif;
	background:linear-gradient(to right, red,blue);
	color:white;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.teste{
	padding: 0;
	margin: 0;
	height: 700px;
	width: 100%;
	display: flex;
	align-content: center;
	position: relative;
	top: 200px;
}

.autor{
	text-align: right;
}
.cabecalho{
	width: 100%;
	height: 100%;
	margin: auto;
	border: none;

}

h1{
	font-size: 80px;
	height: 70px;
}
table{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
}
fieldset{
	background-color: white;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 40%;
	color: black;
	border: none;
}
img{
	height: 360px;
	width: 640px;
{
